* {
  text-decoration: none;
  list-style: none;
}
.load-data {
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.title {
  border: 1px solid orange;
}
#country-details {
  text-align: center;
}
.country {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.country-div {
  border: 1px solid red;
  padding: 3px 10px;
  margin: 11px;
  text-align: center;
}
